
@font-face {
    font-family: Futura;
    src: url(./Futura-Bold.ttf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
    font-family: "Helvetica Now Text", "Lucida Sans", Tahoma, sans-serif;
}
*::selection{
    color: #fff;
    background-color: #000;
}
nav{
    width: 100%;
    position: fixed;
    display: flex;
    padding: 1.5vw 1.5vw 0vw 1.5vw ;
    align-items: center;
    justify-content: space-between;
    
    z-index: 999;
}
nav .part-1{
    
    height: 5.8vw;
    overflow: hidden;
}
nav .part-1 svg{
    display: block;  
}
nav .part-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: -5vw;
}
#links a{
    margin: 40px;
    text-transform: uppercase;
    font-size: 13px;
    color: #000;
    text-decoration: none;
}
#icons{
    background-color: #f7f7f7;
    padding: 0.5vw;
    border-radius: 50px;
}
#icons i{
    margin: 20px;
    font-size: 18px;


}

#cursor{
    height: 200px;
    width: 200px;
    background-color: rgba(254, 119, 0, 0.433);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50px,-50px) scale(0);
}
#page1{
    min-height: 100vh;
    width: 100%;
    padding: 0 2vw;
    padding-top: 15vw;
    position: relative;

}

#page1 h1{
    font-family: 'Futura';
    font-size: 15vw;
    text-transform: uppercase;
    line-height: 13vw;
    text-align: center;
}
#video-container{
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    position: relative;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#play{
    font-family: 'Futura';
    font-size: 1.5vw;
    position: absolute;
    border-radius: 50%;
    padding: 3vw 2vw;
    color: #fff;
    text-transform: uppercase;
    background-color: #000;
    opacity: 0;
    scale: 0;
}
  
#page2{
    height: 100vh;
    width: 100%;
    padding: 3vw 2vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.elem{
    height: 100%;
    width: 32%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.elem img{
    height: 100%; 
    object-fit: cover;
    scale: 1.2;

}
.elem .dets{
    height: 4vw;
    width: 80%;
    border-radius: 50px;
    background-color: blanchedalmond;
    z-index: 9;
    position: absolute;
}

.dets .top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.3vw 0vw;
}
.top h4{
    font-weight: 100;
    text-transform: uppercase;
    font-size: 14px;
}
.top h4.bold{
    font-weight: 900;
}

.top i{
    font-size: 14px;
}

i#arrow{
    font-size: 25px;
}
.elem .dets:hover{
    height: 300px;
}
.dets .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3vw 0vw;
    width: 100%;
    height: 85%;
    border-radius: 50px;
    visibility: hidden;
}
.dets:hover .bottom{
    visibility: visible;
}
.bottom .img-cont{
    height: 100%;
    width: 50%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;

}
.img-cont img{
    height: 65%;
}
.img-cont h5{
    font-size: 10px;
    width: 80%;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}

#page3{
    height: 200vh;
    width: 100%;
    /* padding: 3vw 2vw; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5vw;
    margin: 3vw auto;
}
.child{
    height: 54vh;
    width: 38vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}
.child h5{
    font-size: 0.8vw;
    font-weight: 100;
    text-transform: uppercase;
}
.child img{
    height: 100%;
}

#page4{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vw;

}
#page4 h2{
    font-family: 'Futura';
    font-size: 4.8vw;
    width: 90%;
    text-align: center;
}
#page4 .btn{
    height: 4vw;
    width: 20vw;
    padding: 1.5vw 4vw;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
}
#page4 h4{
    font-weight: 100;
    width: 19%;
    text-align: center;
}
#page5{
    height: 60vh;
    width: 100%;
    padding: 3vw 2vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page5 .part5-1{
    width: 70%;
    font-size: 3.9vw;
}
.part5-1  h4{
    width: 100%;
}

#page5 .part5-2{
    width: 30%;
}
.part5-2 p{
    width: 80%;
    font-size: 1vw;
    font-weight: 100;
    margin: 1.5vw;
    line-height: 1.5;
}

.ul{
    text-transform: uppercase;
    text-decoration: underline;
}

#page6{
    height: 100vh;
    width: 100%;
    position: realtive;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.part6-l{
    width: 40%;
    background-color: chartreuse;
}
.part6-r{
    width: 60%;
    background-color: coral;
    display: flex;
    align-items: center;
}











@media (max-width: 600px){
    #page1{
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 40vw;
        position: relative;
    
    }
    #page1 h1{
        font-family: 'Futura';
        font-size: 14vw;
        text-transform: uppercase;
        line-height: 15vw;
        text-align: center;
    }
    #video-container{
        height: 25vh;
        width: 100%;
        margin-top: 12vw;
        position: relative;
    }
    #play{
        font-family: 'Futura';
        font-size: 6.5vw;
        position: absolute;
        padding: 10vw 5vw;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }
    #page2{
        min-height: 100vh;
        width: 100%;
        padding: 3vw 2vw;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .elem{
        min-height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 3vw;
    }
    
    .elem img{
        height: 100%; 
        width: 100%;
        object-fit: cover;
        scale: 1.2;
    
    }
}